<form method="POST" action="/add">
  <p>Food Name: *<input type="text" name="name"></p>
  <p>Description: *<input type="text" name="description"></p>
  <p>Difficulty: <input type="text" name="difficulty"></p>
  <p>Please input a number.</p>
  <p>[1] Very Easy, [2] Easy, [3] Moderate, [4] Difficult</p>
  <p>Prep time: <input type="text" name="prep_time"></p>
  <p>Cook time: <input type="text" name="cooking_time"></p>
  <p>Fields marked with * are required.</p>
  <input type="submit">
</form>
