<h1>What ingredient do you want to use?</h1>
<h2>How difficult should the recipe be?</h2>
<ol start='0'>
  <li>Any difficulty</li>
  <li>Very Easy</li>
  <li>Easy</li>
  <li>Moderate</li>
  <li>Difficult</li>
</ol>
<form method="POST" action="/search">
  <p>Ingredient: <input type="text" name="ingredient"></p>
  <p>Difficulty: <input type="text" name="difficulty"></p>
  <input type="submit">
</form>
